:root {
    --background-color: rgb(51, 60, 77);
    --header-background-color: rgb(31, 38, 53);
    --title-text-color: rgb(175, 199, 251);
    --text-color: rgb(206, 213, 234, 0.80);
    --standout-text-color: rgb(255, 255, 255);
    --placeholder-text-color: rgb(216, 223, 244);
}

.light-mode {
    --background-color: rgb(249, 249, 255);
    --header-background-color: rgb(219, 226, 247);
    --title-text-color: rgb(65, 95, 148);
    --text-color: rgb(96, 99, 104);
    --standout-text-color: rgb(0, 0, 0);
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

.header {
    display: flex;
    background-color: var(--header-background-color);
    justify-content: space-around;
    padding: 24px;
    width: 100%;
    position: fixed;
    top: 0; /* Ensure header is at the top */
}


.header a {
    font-family: "Palatino", "Carbon-Regular", "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", IBMPlexSans, Inter, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, Icon, sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

.nav-name {
    margin-left: 360px;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
}

.header-right-case {
    display: flex;
    margin-right: 300px;
    align-items: center;
}

.header-right {
    display: flex;
    font-size: 16px;
}

.header-right a {
    position: relative;
    display: block;
}

.header-right a::after {
    content: '';
    position: absolute;
    left: 50%; /* Center the line */
    bottom: 0;
    height: 2px;
    width: 80%;
    background:var(--text-color);
    transform: translateX(-50%) scaleX(0); /* Center the line and scale it down */
    transition: transform 0.3s;
}

.header-right a:hover::after {
    transform: translateX(-50%) scaleX(1); /* Center the line and scale it to full width */
}

.hamburger {
    display: none; /* Hide hamburger menu by default */
}

.theme {
    margin-left: 10px; /* Space between nav and theme button */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .header-right {
        display: none;
    }

    .hamburger {
        display: inline; /* Show the hamburger menu on smaller screens */
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        outline: none;
        background: none;
        color: var(--text-color);
        padding: 0px 5px;
    }

    .header-right.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 18%;
        background-color: var(--header-background-color);
        top: 64px;
        right: 24px;
        text-align: center;
    }    

    .header-right a {
        display: block;
        padding: 8px;
        font-size: 18px;
    }

    .header-right a:last-child {
        padding-bottom: 15px;
    }

    .header {
        justify-content: space-between;
    }

    .nav-name {
        margin-left: 20px;
    }
    
    .header-right a::after {
        content: '';
        position: absolute;
        left: 50%; /* Center the line */
        top: 30px;
        height: 2px;
        width: 66%;
        background: var(--text-color);
        transform: translateX(-50%) scaleX(0); /* Center the line and scale it down */
        transition: transform 0.3s;
    }
    
    .header-right a:hover::after {
        transform: translateX(-50%) scaleX(1); /* Center the line and scale it to full width */
    }

    .buttons {
        position: absolute;
        right: 0;
        margin-right: 40px;
    }
}

.item {
    padding: 0px 10px;
}

h1 {
    font-size: 42px;
    color: var(--title-text-color);
}

.hero {
    width: 100%;
    text-align: center;
    font-family: "Palatino", "Carbon-Regular", "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", IBMPlexSans, Inter, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, Icon, sans-serif;
}

p, li {
    font-size: 18px;
    color: var(--text-color);
}

.socials a {
    text-decoration: none; /* Removes the underline */
    margin-right: 6px;
}

a i {
    color: var(--text-color);
    font-size: 26px;
    margin-right: 10px;
}

.socials a:last-child {
    margin-right: 0;
}

.content-section {
    font-family: "Palatino", "Carbon-Regular", "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", IBMPlexSans, Inter, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, Icon, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.about-me-item {
    margin: 0;
    margin-bottom: 12px;
    margin-top: 12px;
    line-height: 1.2;
}

.standout-color {
    color: var(--standout-text-color);
}

.emphasis {
    color: var(--standout-text-color);
    font-weight: bold;
}

.caption {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--text-color);
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 1400px) {
    .content-section {
        padding: 0px 24px;
    }

    .secondary-h1 {
        margin-bottom: 15px;
        font-size: 36px;
    }
}

ul {
    margin: 0px;
}

.project-item {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.25;
}

.project-h1 {
    margin-bottom: 20px;
}

.project-caption {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 4px;
    padding: 5px 0px;
}